*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    display: block;
    padding: 0 10%;
}
.header{
    width: 100%;
    height: 480px;
    background: black;
    font-size: 0;
}
.header .header-banner{
    height: 480px;
    margin: 0 auto;
}
.header ul li{
    display: inline-block;
    position: relative;
    width: 20%;
}
.header .header-nav img{
    height: 480px;
    opacity: 0.3;
    width: 100%;
    display: block;
}
.header-log{
    width: 100%;
    height: 280px;
    position: absolute;
    top: 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(42, 199, 222, 0.96);
    opacity: 0;
    transition: .3s all;
    visibility: hidden;
}
li:hover .overlay {
    visibility: visible;
    opacity: 1;
}
.header-fog{
    width: 100%;
    height:110px ;
    position: absolute;
    top: 0;
    display: inline-block;
}
.logo{
    width: 50px;
    height: 50px;
    top: 130px;
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -25px;
    transition: .3s all ;
    transition-timing-function: linear;
}
li:hover .logo {
    top: 80%;
}
.textword{
    width: 50px;
    height: 50px;
    top: 170px;
    left: 50%;
    margin-left: -25px;
    border-bottom:3px solid white;
    position: absolute;
    display: inline-block;
    transition: .3s all ;
    transition-timing-function: linear;
}
li:hover .textword{
    top:100%;
}
.float{
    width: 100%;
    top: 260px;
    left: 50%;
    margin-left: -32px;
    color: white;
    font-size: 16px;
    position: absolute;
    display: inline-block;
    transition: .3s all ;
    transition-timing-function: linear;
}
li:hover .float{
    top: 65%;
}
.header-ban{
    width: 70%;
    top: 280px;
    left: 0px;
    color: white;
    font-size: 15px;
    padding:5px 15%;
    text-align: center;
    position: absolute;
    display: inline-block;
    opacity: 0;
}
li:hover .header-ban{
    display: block;
    opacity: 1;
    top: 85%;
    transition: .3s all ;
    transition-timing-function: linear;
}
.button{
    width: 50%;
    margin:60px auto;
    padding: 5px 10px;
    display: block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
}
.button:hover{
    background-color:#f0f0f0;
    color: black;

}
